<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<html>
	<body>
		<div class="container">
<form action="add" method="post" class="form">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
       
            
    <label>
        <input required="" name="sellerEmail" placeholder="" type="email" class="input">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" name="sellerPassword" type="password" class="input">
        <span>Password</span>
    </label>
   
    <button class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
</form>
</div>
</body>
</html>